body {
    background-image: url("papiez polak.jpg");
    overflow-y: hidden;
    overflow-x: hidden;
}
#menu {
    background-color: gold;
    border: black solid 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    text-align: center;
}
#menupapiez {
    float: left;
    margin-left: 5%;
}
#menukremowka {
    text-align: center;
    margin-left: 2%;
}
#menumemy {
    margin-left: 10%;
}
#menusklep {
    float: right;
    margin-right: 5%;
}
#left {
    text-align: center;
    float: left;
    width: 49.89%;
    background-color: yellow;
    border: black solid 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 119.2%;
}
#right {
    text-align: center;
    float: right;
    width: 49.8%;
    background-color: yellow;
    border: black solid 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    
}
#kubek1 {
    width: 50%;
    height: 70%;
}
#papiezkremowki {
    width: 26.6%;
    padding: 1%;
}
#papiezyk {
    width: 29.6%;
    margin-bottom: 0.8%;
}
#zakup{
    font-size: 230%;
}
#kontakt {
    padding: 1%;
}
#kontakttext {
    font-size: 300%;
}
#or {
    font-size: 250%;
}
#gp {
    padding: 1%;
    width: 51.7%;
}
#pt {
    width: 33%;
    margin-bottom: 0.6%;
}
